<div align="center" class="d-flex justify-content-evenly" style="background-color: aliceblue;">
    <div class="d-inline-block m-2 float-start" style="border-right: 10px;">
        <h2 style="text-align: center;">Quantity Sold Categorywise</h2>
        <div align="center" class="d-block">
            <div class="d-inline-block p-2 px-4">
                <input type="number" class="form-control" placeholder="Enter Year" name="year" [(ngModel)]="qYear">
            </div>
            <div class="d-inline-block p-2 px-4">
                <button class="btn" style="background-color: lightskyblue;"
                    (click)="getQuantityCategorywise()">Search</button>
            </div>
        </div>
        <div class="table table-responsive table-striped table-bordered mt-4 m-4 bg">
            <table align="center" border="2px">
                <tr>
                    <th>Product Category</th>
                    <th>Count Of Sales</th>
                    <th>Year</th>
                </tr>
                <tr *ngFor="let q of quantity">
                    <td class="text-left">{{q.prodCategory}}</td>
                    <td class="text-center">{{q.salesCount}}</td>
                    <td class="text-center">{{q.calendarYear}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="d-inline-block align-top m-2 ">
        <h2 style="text-align: center;">Amount Sold Categorywise</h2>
        <div align="center" class="d-block">
            <div class="d-inline-block p-2 px-4">
                <input type="number" class="form-control" placeholder="Enter Year" name="ayear" [(ngModel)]="aYear">
            </div>
            <div class="d-inline-block p-2 px-4">
                <button class="btn" style="background-color: lightskyblue;"
                    (click)="getAmountSoldCategorywise()">Search</button>
            </div>
        </div>
        <div class="table table-responsive table-striped table-bordered mt-4 m-4 bg">
            <table align="center" border="2px">
                <tr>
                    <th>Category of Product</th>
                    <th>Sales Amount for Category </th>
                    <th>Year</th>
                </tr>
                <tr *ngFor="let a of amountSold">
                    <td class="text-left">{{a.prodCategory}}</td>
                    <td class="text-center">{{a.amountSold|number : '1.2-2'}}</td>
                    <td class="text-center">{{a.calendarYear}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="m-4 px-2" style="background-color: lightcoral;" [hidden]="err">
        {{errMsg}}
    </div>
</div>